body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
button#decrement, button#increment, button#reset {
  margin: 5px;
  padding: 4px;
  border-radius: 10px;
  font-weight: 800;
  background-color: #4e80dd;
}
button#reset {
  background-color: #159e75;
}

button#increment:hover, button#decrement:hover, button#reset:hover {
  transform: scale(1.1);
}
